<div *ngIf='userEditForm'>
<form [formGroup]="userEditForm" id="form">
  <div class="form-group">
    <label for="id" class="form-control-label">ID</label>
    <input type="text" id='id' required formControlName='id' class="form-control">
    <div *ngIf="userEditForm.get('id').hasError('required') && userEditForm.get('id').touched"
      class="alert alert-danger">
        id is require.
    </div>
  </div>
  <div class="form-group">
    <label for="first_name" class="form-control-label">First_name</label>
    <input type="text" id='first_name' required formControlName='first_name' class="form-control">
    <div *ngIf="userEditForm.get('first_name').hasError('required') && userEditForm.get('first_name').touched"
      class="alert alert-danger">
        firstname is require.
    </div>
  </div>

  <div class="form-group">
    <label for="last_name" class="form-control-label">Last_name</label>
    <input type="text" id='last_name' required formControlName='last_name' class="form-control">
    <div *ngIf="userEditForm.get('last_name').hasError('required') && userEditForm.get('last_name').touched"
      class="alert alert-danger">
        lasttname is required.
    </div>
  </div>

  <div *ngIf='errorMessage'>
    {{errorMessage}}
  </div>

  <button [disabled]='userEditForm.invalid' (click)='save(userEditForm)' class='button'>Save</button>
</form>
</div> 
