<div id="fullscreen">
    <div class="container">
        <form class="form-signin" novalform-signinidate [formGroup]='userForm' (ngSubmit)='onSubmit(userForm.value)'>
            <div class="form-group row">
                <h2 class="form-signin-heading">Please sign in</h2>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">login:</label>
                <div class="col-sm-10">  
                    <input type="email" class="form-control" 
                        placeholder="Example: lusy85@gmail.com"
                        id='email'
                        emailValidator
                        formControlName='email'>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf='formErrors.email'>
                {{formErrors.email}}
            </div> 
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control"  
                        placeholder="Example: LusY1111" 
                        id='password' 
                        passwordValidator
                        formControlName='password'>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf='formErrors.password'>
                {{formErrors.password}}
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary"
                        [disabled]='userForm.invalid' id="button"
                        value='submit'>
                </div>
            </div>
        </form>
    </div>
</div>
