.modal-header {
	background-color: #aef7ae;
}
.modal-footer {
	background-color: #aef7ae;
}
.modal-body {
	background-color: #0b400b;
}
.form-control {
	background-color: #d1e7d1;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #155724;
    border-color: #10da3e;
}
.btn-primary {
    color: #fff;
    background-color: #155724;
    border-color: #09ef3e;
}
.form-control-label {
	color: white;
}
.modal-content{
    border: 2px solid green;
    box-shadow: 15px 10px 0px #aef7ae;
}
