<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
		  <div class="modal-body">
        <form [formGroup]="userCreateForm">
          <div class="form-group">
            <label for="first_name" class="form-control-label">First_name</label>
            <input type="text" id='first_name' required formControlName='first_name' class="form-control">
            <div *ngIf="userCreateForm.get('first_name').hasError('required') && userCreateForm.get('first_name').touched"
              class="alert alert-danger">
              firstname is required.
            </div>
          </div>
          <div class="form-group">
            <label for="last_name" class="form-control-label">Last_name</label>
            <input type="text" id='last_name' required formControlName='last_name' class="form-control">
            <div *ngIf="userCreateForm.get('last_name').hasError('required') && userCreateForm.get('last_name').touched"
              class="alert alert-danger">
              lastname is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
			  <button [disabled]='userCreateForm.invalid' (click)='save(userCreateForm)'  type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" id='close' data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 