<nav aria-label="Page navigation example" >
  <ul *ngFor = "let currentPage of pages" class="pagination justify-content-center" id='page'>
    <li class="page-item">
      <a (click) ="sendPage(currentPage+1)" class="page-link">{{currentPage+1}}</a>
    </li>
  </ul>
</nav>

