<div class="container">
    <div> 
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" > 
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <form class="form-inline mt-2 mt-md-0">
                    <button (click)='logOut()' class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>   
                </form>
            </div>
        </nav>             
    </div>
    <div id='point'>
        <button (click)='create()' class='point' data-toggle="modal" data-target="#createModal" class="btn btn-primary center-block">Create</button>
    </div>
    <div *ngIf = 'errorMessage'>
        {{errorMessage}}
    </div>
    <table class="table" class="table table-responsive" id="mytable">
        <thead class="thead-inverse"> 
            <tr>  
                <th class='center'>ID
                    <button (click)="idAsc = !idAsc; sort('id', idAsc)" class='point'>sort</button>    
                </th>
                <th>First name
                    <button (click)="idAsc = !idAsc; sort('first_name', idAsc)" class='point'>sort</button>    
                </th> 
                <th>
                    Last name
                    <button (click)="idAsc = !idAsc; sort('last_name', idAsc)" class='point'>sort</button>    
                </th>
                <th>Avatar</th>
                <th>Edit</th>
                <th>Delete</th>
            <tr>
        </thead>
        <tbody>
            <tr *ngFor ='let user of users' class='light'>
                <td>{{user.id}}</td>
                <td>{{user.first_name|uppercase}}</td> 
                <td>{{user.last_name|uppercase}}</td>
                <td><img src="{{user.avatar}}" alt=""></td>
                <td>
                    <button (click)='edituser(user)' class='point' type="button" class="btn btn-primary" data-toggle="modal" data-target="#knjkn">   
                        edit
                    </button>
                </td>
                <td>
                    <button (click)='setCurrentUser(user)' type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" >
                    delete</button>  
                </td>
            </tr>
        </tbody>
    </table> 
    <div>
        <pagination *ngIf="totalPages" [totalPages]="totalPages" (pageUpdated)="getPage($event)"></pagination>
    </div>
</div>
    
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p>
                    Delete this user?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id='close' class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)='delete()' type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<user-create></user-create>


