.container {
    background-color: #155724;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}
#nav {
    background-color: green;
}
#mytable {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 7px 3px 2px green;
    transition: 0.5s;
    }
.light:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    background-color: #155724;
    color: white;
    }
.bg-dark {
    background-color: #0b3113!important;
}
#point {
    padding-top: 70px;
}
.btn-outline-success {
    color: #f8f9fa;
}
.btn-primary {
    color: #fff;
    background-color: #0b3113;
    border-color: #28a745;
}
.modal-content {
    background-color: #aef7ae;;
    color: black;
}
.thead-inverse {
    background-color: green;
}
.point {
    background-color: #0b3113;
    border-color: #28a745;
    color: white;
}








